@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-card: #18181b;
  --color-accent: #f97316;
  --color-accent-dim: #7c2d12;
  --color-text-primary: #fafafa;
  --color-text-secondary: #a1a1aa;
}

@layer base {
  body {
    @apply bg-background text-text-primary antialiased selection:bg-accent selection:text-white;
  }
}

/* Glass effect */
.glass {
  @apply bg-card/60 backdrop-blur-xl border border-white/5 shadow-2xl;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-white/10 rounded-full hover:bg-white/20;
}
